@import url('https://fonts.googleapis.com/css?family=Khula|Open+Sans');

.WordList {
  text-align: center;
  list-style: none;
  padding: 0;
  color: #814906;
  font-family: 'Open Sans', sans-serif;
}

.Word > ul {
  padding: 0;
  padding-bottom: 30px;
}

.Definition > li {
  text-align: center;
}

.dictionary-word {
  font-weight: bold;
}

.dictionary-pos {
  font-style:oblique;
  margin-right: 5px;
  font-size: 90%;
  color: #ac8454;
}

.Header {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  color: #814906;
  font-family: 'Khula', sans-serif;
}

#title {
  margin-bottom: 0;
  line-height: 32px;
}

#subtitle {
  margin-top: 0;
  font-size: 14px;
}

.SearchBar {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 200px;
  border-radius: 2px;
  border-bottom: 1px solid black;
}

.SearchBar > input {
  border-style: none; 
  background: transparent; 
  outline: none; 
  text-align:center;
  width: 100%;
  color:#814906;
  font-size: 24px;
}

body {
  background: #F7EBC9; 
}
