@import url('https://fonts.googleapis.com/css?family=Khula|Open+Sans');

$background-color:#F7EBC9;
$text-color-main: #814906;
$text-color-second: #ac8454;

$header-font: 'Khula', sans-serif;
$body-font: 'Open Sans', sans-serif;

.WordList {
  text-align: center;
  list-style: none;
  padding: 0;
  color: $text-color-main;
  font-family: $body-font;
}

.Word > ul {
  padding: 0;
  padding-bottom: 30px;
}

.Definition > li {
  text-align: center;
}

.dictionary-word {
  font-weight: bold;
}

.dictionary-pos {
  font-style:oblique;
  margin-right: 5px;
  font-size: 90%;
  color: $text-color-second;
}

.Header {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  color: $text-color-main;
  font-family: $header-font;
}

#title {
  margin-bottom: 0;
  line-height: 32px;
}

#subtitle {
  margin-top: 0;
  font-size: 14px;
}

.SearchBar {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 200px;
  border-radius: 2px;
  border-bottom: 1px solid black;
  input {
    border-style: none; 
    background: transparent; 
    outline: none; 
    text-align:center;
    width: 100%;
    color: $text-color-main;
    font-size: 24px;
  }
}

body {
  background: $background-color; 
}
