@import url('https://fonts.googleapis.com/css?family=Khula|Open+Sans');

// TODO color switcher

// original light
// $background-color:#F7EBC9;
// $text-color-main: #814906;
// $text-color-second: #ac8454;

// solar-ish light
$background-color:#FCFFFD;
$text-color-main: #5D737E;
$text-color-second: #64B6AC;

// purple dark
// $background-color:#6A66A3;
// $text-color-main: #AAAE7F;
// $text-color-second: #D0D6B3;

// pink light
// $background-color:#f48f89;
// $text-color-main: #F7EDF0;
// $text-color-second: #F4CBC6;

$header-font: 'Khula', sans-serif;
$body-font: 'Open Sans', sans-serif;

.WordList {
  text-align: center;
  list-style: none;
  padding: 0;
  color: $text-color-main;
  font-family: $body-font;
}

.Word > ul {
  padding: 0;
  padding-bottom: 30px;
}

.Definition > li {
  text-align: center;
}

.dictionary-word {
  font-weight: bold;
}

.dictionary-pos {
  font-style: oblique;
  margin-right: 5px;
  font-size: 90%;
  color: $text-color-second;
}

.Header {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  color: $text-color-main;
  font-family: $header-font;
}

#title {
  margin-bottom: 0;
  line-height: 32px;
}

#subtitle {
  margin-top: 0;
  font-size: 14px;
  color: $text-color-second;
}

.menu {
  font-size: 24px;
  position: fixed;
  top: 40px;
  right: 50px;
  background-color: $background-color;
}

.navigationMenu {
  justify-content: right;
}

.siteLink {
  text-decoration: none;
  color: $text-color-second;
}

.SearchBar {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 200px;
  border-radius: 2px;
  border-bottom: 1px solid $text-color-second;
  input {
    font-family: $body-font;
    border-style: none; 
    background: transparent; 
    outline: none; 
    text-align:center;
    width: 100%;
    color: $text-color-main;
    font-size: 22px;
  }
}

body {
  background: $background-color; 
}
